@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#menu-2 .nav.navbar-nav.navbar-right a {
  font-size: 14px;
}
#header17-4 P {
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#header17-4 H2 {
  color: #ffffff;
}
#features3-6 P {
  color: #ffffff;
}
#features3-6 H4 {
  color: #ffffff;
}
#slider-8 P {
  text-align: left;
}
#slider-8 H1 {
  text-align: left;
}
