@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);








#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
#header1-1 H1 {
  font-family: 'Merriweather', serif;
  text-align: center;
}
#header1-1 P {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 20px;
}
#header1-1 B {
  color: #ffffff;
  text-align: right;
}
#features1-3 P {
  text-align: center;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
#features1-3 .mbr-section__col .mbr-header__text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  text-align: center;
}
#msg-box1-8 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
  font-family: 'Merriweather', serif;
}
#msg-box1-8 .mbr-article {
  color: #fff;
}
#msg-box1-8 .mbr-article P {
  text-align: center;
  font-family: 'Merriweather', serif;
}
#social-buttons2-7 .mbr-header__text {
  color: #efefef;
  font-family: 'Merriweather', serif;
  text-align: right;
  font-size: 22px;
}
